{{#if error}}
  <div class="alert alert-danger mt-3" role="alert">
    {{error}}
  </div>
{{/if}}
<form action="" method="POST">

     <div class="mb-3">
        <label for="ilosc" class="form-label">Login</label>
        <input type="text" class="form-control" name="login" id="login" required>
    </div>

    <div class="mb-3">
        <label for="cena" class="form-label">Hasło</label>
        <input type="password" class="form-control" name="password" id="password" required>
    </div>

    <div class="text-center mb-3">
        <button class="btn btn-lg btn-primary">Zaloguj</button>
    </div>

</form>