<form action="" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Tytuł</label>
        <input type="text" class="form-control" name="title" id="title">
    </div>

    <div class="mb-3">
        <label for="cena" class="form-label">CzasTrwania</label>
        <input type="text" class="form-control" name="CzasTrwania" id="CzasTrwania">
    </div>

    <div class="mb-3">
        <label for="ilosc" class="form-label">Wykonawca</label>
        <input type="text" class="form-control"  name="Wykonawca" id="Wykonawca">
    </div>

     <div class="mb-3">
        <label for="ilosc" class="form-label">KrajPochodzenia</label>
        <input type="text"  class="form-control" name="KrajPochodzenia" id="KrajPochodzenia">
    </div>

     <div class="mb-3">
        <label for="ilosc" class="form-label">DataDodania</label>
        <input type="date" class="form-control" name="DataDodania" id="DataDodania">
    </div>

    <div class="mb-5">
        <label for="kategoria" class="form-label">Kategoria</label>
        <select class="form-control" name="kategoria" id="kategoria">
            <option value="">wszystko</option>
            <option value="POP">POP</option>
            <option value="ROCK">ROCK</option>
            <option value="RAP">RAP</option>
            <option value="Trap">Trap</option>
        </select>
    </div>

    <div class="text-center mb-3">
        <button class="btn btn-lg btn-primary">Dodaj</button>
    </div>
    <div class="text-center">
        <a href="/">Powrót</a>
    </div>
</form>