<dl>
    <dt>Login</dt>
    <dd>{{user.Login}}</dd>
    <dt>Email</dt>
    <dd>{{user.Email}}</dd>
    <dt>Umowa</dt>
    <dd>
        {{user.Umowa}}
        <form method="POST">
            <select name="Umowa" id="">
                <option value="TAK">TAK</option>
                <option value="NIE">NIE</option>
            </select>
            <button type="submit">Zmień</button>
        </form>
    </dd>
</dl>