<form action="" method="POST">
    <div class="mb-3">
        <label for="cena" class="form-label">Admin</label>
        <input type="text" class="form-control" name="Admin" id="Admin">
    </div>

    <div class="mb-3">
        <label for="title" class="form-label">Imie</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>

    <div class="mb-3">
        <label for="ilosc" class="form-label">Nazwisko</label>
        <input type="number" min="0" max="999" class="form-control" name="surname" id="surname">
    </div>

     <div class="mb-3">
        <label for="ilosc" class="form-label">Login</label>
        <input type="number" min="0" max="999" class="form-control" name="login" id="login">
    </div>

 <div class="mb-3">
        <label for="ilosc" class="form-label">Email</label>
        <input type="number" min="0" max="999" class="form-control" name="email" id="email">
    </div>

     <div class="mb-3">
        <label for="ilosc" class="form-label">DataRejestracji</label>
        <input type="number" min="0" max="999" class="form-control" name="agreement" id="agreement">
    </div>

 <div class="mb-3">
        <label for="ilosc" class="form-label">DataLogowania</label>
        <input type="number" min="0" max="999" class="form-control" name="agreement" id="agreement">
    </div>


    <div class="mb-5">
        <label for="umowa" class="form-label">Umowa</label>
        <select class="form-control" name="umowa" id="umowa">
            <option value="yes">Tak</option>
            <option value="no">Nie</option>
        </select>
    </div>

    <div class="text-center mb-3">
        <button class="btn btn-lg btn-primary">Dodaj</button>
    </div>
    <div class="text-center">
        <a href="/">Powrót</a>
    </div>
</form>